<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="!show_account_modal" class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Manage Accounts</h4>
            <p class="card-category">Showing all accounts registered</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card">
                    <div class="card-body">
                      <form [formGroup]="accountFormGroup">
                        <div id="table" class="table-editable">
                          <span class="table-add float-right mb-3 mr-2">
                            <a class="text-success" (click)="newAccount()">
                              <i class="material-icons" style="cursor: pointer; font-size: 35px;">add</i>
                            </a>
                          </span>
                          <table class="table table-bordered table-responsive-md table-striped text-center">
                            <tr>
                              <th class="text-center">Username</th>
                              <th class="text-center">Password</th>
                              <th class="text-center">Building</th>
                              <th class="text-center">Action</th>
                            </tr>
                            <tr *ngFor="let user of all_users; let id = index">
                              <td (click)="updateModal(user)">
                                <span (blur)="updateList(user.id, 'username', $event, user)" contenteditable="true">{{user.username}}</span>
                              </td>
                              <td (click)="updateModal(user)">
                                <span contenteditable="true" (blur)="updateList(user.id, 'password', $event, user)">{{user.password}}</span>
                              </td>
                              <td (click)="updateModal(user)">
                                <span>{{data_list.buildings[user.building_id - 1].name}}</span>
                              </td>
                              <td>
                                <span class="table-remove">
                                  <button type="button" rounded="true" size="sm" class="btn btn-primary my-0" (click)="updateModal(user)">View</button>
                                </span>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="clinical-content" style="overflow: scroll;">
        <div *ngIf="show_account_modal" class="card">
          <div class="d-flex justify-content-end p-2">
            <mat-icon (click)="closeModal()" style="cursor: pointer;">close</mat-icon>
          </div>
          <div id="account">
            <app-create-account [accountRecord]="account_data"></app-create-account>
          </div>
        </div>
      </div>
    </div>
</div>
