<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="!show_modal" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">RPH Clinical Records</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Payees Name
                                    </th>
                                </thead>
                                <tbody *ngFor="let o of outpatient_records.outpatient_records; let id = index">
                                    <tr style="cursor: pointer;" (click)="view(o)">
                                        <td>
                                            {{o.record.id}}
                                        </td>
                                        <td>
                                            {{o.profile.first_name}} {{o.profile.surname}}
                                        </td>
                                        <td>
                                            {{o.profile.gender_id == 1? 'Male' : 'Female'}}
                                        </td>
                                        <td>
                                            {{o.record.address}}
                                        </td>
                                        <td class="text-primary">
                                            {{o.record.patient_brought_victim}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="clinical-container">
          <div class="clinical-content" style="max-height: 550px; overflow: scroll;">
            <div *ngIf="show_modal" class="card">
              <div class="d-flex justify-content-end p-2">
                <!-- <mat-icon class="mr-2" style="cursor: pointer;" (click)="print()">print</mat-icon> -->
                <button [useExistingCss]="true" class="mr-2" printSectionId="outpatient" style="cursor: pointer;" ngxPrint>print</button>
                <mat-icon (click)="close()" style="cursor: pointer;">close</mat-icon>
              </div>
              <div id="outpatient">
                <app-outpatient-record [outpatientResult]="outpatient_result"></app-outpatient-record>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  