<div id="map">
    <div class="main-content">
        <div class="container-fluid">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">About Us</h4>
              </div>
              <div class="card-body">
                  <label><b>Hospital Patient Record Management System:</b> A web-based application' is a system created for Romblon Provincial Hospital located at Liwanag, Odiongan, Romblon. </label>
                  <h6 class="mt-3"><b>DEVELOPERS</b></h6>
                  <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="d-flex flex-column p-2">
                                <div class="d-flex justify-content-center ">
                                    <img class="circular" src="../../assets/img/alvin.jpeg">
                                </div>
                                <div class="d-flex justify-content-center ">
                                    <label>Alvin Jade T. Albado</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="d-flex flex-column p-2">
                                <div class="d-flex justify-content-center ">
                                    <img class="circular" src="../../assets/img/cyrus.jpeg">
                                </div>
                                <div class="d-flex justify-content-center ">
                                    <label>Cyrus King Pastor</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="d-flex flex-column p-2">
                                <div class="d-flex justify-content-center ">
                                    <img class="circular" src="../../assets/img/fatima.jpeg">
                                </div>
                                <div class="d-flex justify-content-center ">
                                    <label>Fatima B. Fetalvero</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="d-flex flex-column p-2">
                                <div class="d-flex justify-content-center ">
                                    <img class="circular" src="../../assets/img/florean.jpeg">
                                </div>
                                <div class="d-flex justify-content-center ">
                                    <label>Florean F. Manliguez</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="d-flex flex-column p-2">
                                <div class="d-flex justify-content-center ">
                                    <img class="circular" src="../../assets/img/daniel.jpeg">
                                </div>
                                <div class="d-flex justify-content-center ">
                                    <label>Daniel John M. Tome</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="d-flex flex-column p-2">
                                <div class="d-flex justify-content-center ">
                                    <img class="circular" src="../../assets/img/jc.jpeg">
                                </div>
                                <div class="d-flex justify-content-center ">
                                    <label>John Carlo D. Familara</label>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
