<div class="d-flex justify-content-center">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <div class="box" style="border-radius: 0px; box-shadow: none;">
          <!-- <mat-card-header>
            <img class="login-logo" mat-card-image src="../../assets/img/romblon.jpeg">
          </mat-card-header> -->
      
          <form class="login-form" [formGroup]="accountFormGroup" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <mat-form-field appearance="outline" class="login-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" required="required" formControlName="username">
                      </mat-form-field>
              
                      <mat-form-field class="login-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="text" required="required" formControlName="password">
                      </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-6">
                    <mat-form-field class="login-full-width" appearance="outline">
                        <mat-label>User Type</mat-label>
                        <mat-select formControlName="user_type_id">
                            <mat-option *ngFor="let type of data_list.user_types" [value]="type.id">
                              {{type.name}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
        
                        <mat-form-field class="login-full-width" appearance="outline">
                            <mat-label>User Role</mat-label>
                            <mat-select formControlName="user_role_id">
                                <mat-option *ngFor="let role of data_list.user_roles" [value]="role.id">
                                  {{role.name}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
        
                        <mat-form-field class="login-full-width" appearance="outline">
                            <mat-label>Building</mat-label>
                            <mat-select formControlName="building_id">
                                <mat-option *ngFor="let build of data_list.buildings" [value]="build.id">
                                  {{build.name}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                </div>
            </div>
            <button mat-stroked-button color="accent" class="btn-block">{{submit_button_name}}</button>
          </form>
        </div>
    </div>
</div>
