<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" (click)="showAdminLists()">
                    <div class="card-header card-header-dark card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">admin_panel_settings</i>
                        </div>
                        <p class="card-category">Admin</p>
                        <h3 class="card-title">{{data.admin}}
                            <!-- <small>GB</small> -->
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">admin_panel_settings</i>
                            Online: {{data.online_admins}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" (click)="showNurseLists()">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">local_pharmacy</i>
                        </div>
                        <p class="card-category">Nurse</p>
                        <h3 class="card-title">{{data.nurse}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_pharmacy</i> Online: {{data.online_nurses}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" (click)="showPatientLists()">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Patient</p>
                        <h3 class="card-title">{{data.patient}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">person</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" (click)="showDoctorLists()">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">medical_services</i>
                        </div>
                        <p class="card-category">Doctor</p>
                        <h3 class="card-title">{{data.doctor}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">medical_services</i> Online: {{data.online_doctors}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" (click)="showRecoveredList()">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mood</i>
                        </div>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{data.recovered != undefined ? data.recovered.count : '0'}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">mood</i> Recovered
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" (click)="showDiedList()">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mood_bad</i>
                        </div>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{data.died != undefined ? data.died.count : '0'}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">mood_bad</i> Death
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="show_recovereds" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Recovered Patients</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Admitting DateTime</th>
                                <th>Diagnosis</th>
                                <th>Final Diagnosis</th>
                                <th>Building</th>
                                <th>Fiscal Year</th>
                                <th>Hospital No</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of data.recovered.list; let id = index">
                                    <td>{{patient.profile.first_name}}</td>
                                    <td>{{patient.profile.last_name}}</td>
                                    <td>{{patient.records.admitted_datetime | date}}</td>
                                    <td>{{patient.records.admitting_diagnosis}}</td>
                                    <td>{{patient.records.final_diagnosis}}</td>
                                    <td>{{patient.records.building_id == 1 ? 'Building 1' : 'Building 2'}}</td>
                                    <td>{{patient.records.fiscal_year}}</td>
                                    <td>{{patient.records.hospital_no}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="show_deaths" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Died Patients</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Admitting DateTime</th>
                                <th>Diagnosis</th>
                                <th>Final Diagnosis</th>
                                <th>Building</th>
                                <th>Fiscal Year</th>
                                <th>Hospital No</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of data.died.list; let id = index">
                                    <td>{{patient.profile.first_name}}</td>
                                    <td>{{patient.profile.last_name}}</td>
                                    <td>{{patient.records.admitted_datetime | date}}</td>
                                    <td>{{patient.records.admitting_diagnosis}}</td>
                                    <td>{{patient.records.final_diagnosis}}</td>
                                    <td>{{patient.records.building_id == 1 ? 'Building 1' : 'Building 2'}}</td>
                                    <td>{{patient.records.fiscal_year}}</td>
                                    <td>{{patient.records.hospital_no}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Showing The Patient List -->
        <div *ngIf="show_patients" style="width:100%">
            <app-maps style="width:100%"></app-maps>
        </div>

        <!-- Showing The Nurses List -->
        <div *ngIf="show_nurses" style="width:100%">
            <app-nurse-list style="width:100%"></app-nurse-list>
        </div>

        <!-- Showing The Doctors List -->
        <div *ngIf="show_doctors" style="width:100%">
            <app-doctor-list style="width:100%"></app-doctor-list>
        </div>

        <!-- Showing The Doctors List -->
        <div *ngIf="show_admins" style="width:100%">
            <app-admin-list style="width:100%"></app-admin-list>
        </div>
        <div class="mt-5">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Recovered Patients</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> By Month
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Died Patients</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> By Month
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>