<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">

                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">RPH Clinical Records</h4>
                  </div>
                  <div class="card-body">
                    <div>
                        <mat-checkbox class="mr-1" [(ngModel)]="building_1" >Emergency Building</mat-checkbox>
                        <mat-checkbox class="mr-1" [(ngModel)]="building_2">Outpatient Building</mat-checkbox>  
                        <button style="padding: 3px 15px; margin-bottom: 10px !important;" type="button" rounded="true" size="sm" class="btn btn-primary my-0" (click)="filter()">FILTER</button>
                      </div>
                      <hr>
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Admitted Date
                                  </th>
                                  <th>
                                      Diagnosis
                                  </th>
                                  <th>
                                      Transfer From
                                  </th>
                                  <th>
                                      Building No
                                  </th>
                              </thead>
                              <tbody *ngFor="let c of clinical_records; let id = index">
                                  <tr style="cursor: pointer;" (click)="view(c.id)">
                                      <td>
                                          {{c.id}}
                                      </td>
                                      <td>
                                          {{c.admitted_datetime | date}}
                                      </td>
                                      <td>
                                          {{c.admitting_diagnosis}}
                                      </td>
                                      <td>
                                          {{c.transferred_from}}
                                      </td>
                                      <td class="text-primary">
                                          {{c.building_id == 1 ? 'Emergency Building' : 'OPD Building'}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="clinical-container">
        <div class="clinical-content" style="max-height: 550px; overflow: scroll;">
          <div *ngIf="show_clinical_modal" class="card">
            <div class="d-flex justify-content-end p-2">
              <button [useExistingCss]="true" class="mr-2" printSectionId="clinical" style="cursor: pointer;" ngxPrint>print</button>
              <mat-icon (click)="close()" style="cursor: pointer;">close</mat-icon>
            </div>
            <div id="clinical">
                <app-clinical-record [clinicalResultId]="selected_clinical_id"></app-clinical-record>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
