<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">

                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">RPH Clinical Records</h4>
                  </div>
                  <div class="card-body">
                    <div>
                        <mat-checkbox class="mr-1" [(ngModel)]="building_1" (change)="filter()">Building 1</mat-checkbox>
                        <mat-checkbox class="mr-1" [(ngModel)]="building_2" (change)="filter()">Building 2</mat-checkbox>  
                        <!-- <button style="padding: 3px 15px; margin-bottom: 10px !important;" type="button" rounded="true" size="sm" class="btn btn-primary my-0" (click)="filter()">FILTER</button> -->
                      </div>
                      <hr>
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                    Name
                                </th>
                                  <th>
                                      Admitted Date
                                  </th>
                                  <th>
                                      Diagnosis
                                  </th>
                                  <th>
                                      Transfer From
                                  </th>
                                  <th>
                                      Building No
                                  </th>
                                  <th class="d-flex justify-content-center">
                                      Actions
                                  </th>
                              </thead>
                              <tbody *ngFor="let c of clinical_records; let id = index">
                                  <tr style="cursor: pointer;">
                                      <td>
                                          {{c.record.id}}
                                      </td>
                                      <td>
                                        {{c.profile.first_name + ' ' + c.profile.surname}}
                                    </td>
                                      <td>
                                          {{c.record.admitted_datetime | date}}
                                      </td>
                                      <td>
                                          {{c.record.admitting_diagnosis}}
                                      </td>
                                      <td>
                                          {{c.record.transferred_from}}
                                      </td>
                                      <td class="text-primary">
                                          {{c.record.building_id == 1 ? 'Building 1' : 'Buidling 2'}}
                                      </td>
                                      <td class="d-flex justify-content-center">
                                        <button style="padding: 6px 15px;" type="button" rounded="true" size="sm" class="btn btn-success my-0" (click)="view(c.record.id)">View</button>
                                        <button style="padding: 6px 15px;" type="button" rounded="true" size="sm" class="btn btn-danger my-0" data-toggle="modal" data-target="#exampleModal" (click)="setIdToDelete(c.record.id)">Delete</button>
                                      </td>
                                  </tr>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Delete this clinical record?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteRecord()">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="clinical-container">
        <div class="clinical-content" style="max-height: 550px; overflow: scroll;">
          <div *ngIf="show_clinical_modal" class="card">
            <div class="d-flex justify-content-end p-2">
              <button [useExistingCss]="true" class="mr-2" printSectionId="clinical" style="cursor: pointer;" ngxPrint>print</button>
              <mat-icon (click)="close()" style="cursor: pointer;">close</mat-icon>
            </div>
            <div id="clinical">
                <app-clinical-record [clinicalResultId]="selected_clinical_id"></app-clinical-record>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
