<div class="main-content">
  <div class="container-fluid">
      <div *ngIf="!show_outpatient_modal && !show_clinical_modal" class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="profileFormGroup" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Surname" formControlName="surname">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" formControlName="first_name">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Middle Name" formControlName="middle_name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Birthday</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Age" formControlName="age">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Birth Place" formControlName="birth_place">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-label>Gender</mat-label>
                              <div>
                                <mat-checkbox class="mr-1" [(ngModel)]="male" formControlName="male">Male</mat-checkbox>
                                <mat-checkbox class="" [(ngModel)]="female" formControlName="female">Female</mat-checkbox>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <mat-label>Civil Status</mat-label>
                              <div>
                                <mat-checkbox class="mr-1" [(ngModel)]="single" formControlName="single">Single</mat-checkbox>
                                <mat-checkbox class="" [(ngModel)]="married" formControlName="married">Married</mat-checkbox>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Occupation" formControlName="occupation">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Religion" formControlName="religion">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nationality" formControlName="nationality">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="CP Number" formControlName="cp_no">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Employed By" formControlName="employed_by">
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Current Address" formControlName="address">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Person to Notify" formControlName="person_to_notify">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Person CP Number" formControlName="person_to_notify_no">
                              </mat-form-field>
                            </div>
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Person Relationship with patient" formControlName="person_to_notify_cp_relationship">
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Person to Notify Address"formControlName="person_to_notify_address" ></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{submit_button_name}}</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4" *ngIf="show_sidebar_profile">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <button style="padding: 6px 15px;" type="button" rounded="true" size="sm" class="btn btn-primary my-0" (click)="newClinical()">New Clinical Record</button>
                      <button style="padding: 6px 15px;" type="button" rounded="true" size="sm" class="btn btn-success my-0" (click)="newOutpatient()">New Outpatient Record</button>
                    </div>
                    <div class="result-container" style="max-height: 350px; overflow: scroll;">

                      <div class="clinical-records" *ngFor="let c of clinical_records.clinical_records; let id = index">
                        <div 
                          class="card border-primary mb-3" 
                          (click)="view(c.id)"
                          style="max-width: 18rem; border: 1px solid #9c27b0 !important;border-radius: 5px;">
                          <div class="card-body text-primary" style="text-align: start;">
                            <div class="d-flex flex-column">
                              <h6 class="card-title">{{c.admitted_datetime | date}}</h6>
                              <label class="card-text">Diagnosis: {{c.admitting_diagnosis}}</label>
                              <label class="card-text">Building: {{c.building_id}}</label>
                              <label class="card-text">Hospital No: {{c.hospital_no}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="outpatient-records" *ngFor="let d of outpatients.outpatient_records; let id = index">
                        <div 
                          class="card border-primary mb-3" 
                          (click)="viewOutpatient(d)"
                          style="max-width: 18rem; border: 1px solid #4caf50 !important;border-radius: 5px;">
                          <div class="card-body text-primary" style="text-align: start;">
                            <div class="d-flex flex-column">
                              <h6 class="card-title">Person To notify: {{d.record.payees_person_to_notify}}</h6>
                              <label class="card-text">Date: {{d.record.created_at | date}}</label>
                              <label class="card-text">Not To Allery: {{d.record.note_to_allergies}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="clinical-container">
        <div class="clinical-content" style="max-height: 550px; overflow: scroll;">
          <div *ngIf="show_clinical_modal" class="card">
            <div class="d-flex justify-content-end p-2">
              <button [useExistingCss]="true" class="mr-2" printSectionId="clinical" style="cursor: pointer;" ngxPrint>print</button>
              <mat-icon (click)="close()" style="cursor: pointer;">close</mat-icon>
            </div>
            <div id="clinical">
              <app-clinical-record [clinicalResultId]="selected_clinical_id"></app-clinical-record>
            </div>
          </div>
        </div>
      </div>  

      <div class="clinical-container">
        <div class="clinical-content" style="max-height: 550px; overflow: scroll;">
          <div *ngIf="show_outpatient_modal" class="card">
            <div class="d-flex justify-content-end p-2">
              <button [useExistingCss]="true" class="mr-2" printSectionId="outpatient" style="cursor: pointer;" ngxPrint>print</button>
              <mat-icon (click)="close()" style="cursor: pointer;">close</mat-icon>
            </div>
            <div id="outpatient">
              <app-outpatient-record [outpatientResult]="outpatient_result"></app-outpatient-record>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
